<ion-header>
    <ion-navbar>
        <ion-title>
            Carte des boissons
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
                <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
                <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
                {{ item?.nom }}
            </button>

            <ion-list *ngIf="item.children && item.open" no-lines>
                <!-- Second Level -->
                <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
                    <!-- Toggle Button -->
                    <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
                        <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                        <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                        {{ child?.nom }}
                    </button>

                    <!-- Direct Add Button as Fallback -->
                    <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
                        <h2>{{ child?.nom }}</h2>
                        <p text-lowercase>{{ child?.description }}</p>
                        <button ion-button outline item-end>{{ child?.prix }}</button>
                        <ion-item>
                            <ion-input type="number" min="0" [value]="child.qty" [(ngModel)]="child.qty" (change)="changeQty(j, child, item.key, item.nom)"></ion-input>
                        </ion-item>
                    </ion-item>

                    <!--<ion-list *ngIf="child.children && child.open">
                        <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
                            <h2>{{ item.nom }}</h2>
                            <p text-lowercase>{{ item.description }}</p>
                            <button ion-button outline item-end (click)="buyItem(item)">{{ item.prix }}</button>
                        </ion-item>
                    </ion-list>
                    -->
                </ion-list-header>
            </ion-list>
        </ion-list-header>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button icon-start color="save" (click)="ViewMyShoppingCart()">
      <ion-icon name="cart"></ion-icon>
      Continuer
    </button>
  </ion-toolbar>
</ion-footer>